@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Source Sans Pro", sans-serif;
	color: white;
}

body {
	background-color: #111;
	width: 100%;
}

main {
	height: calc(100vh - 80px);
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

a {
	text-decoration: none;
}

.centered {
	text-align: center;
	margin: auto;
}

button {
	outline-color: transparent;
	border: transparent;
}