.menu {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2em;
}

.title {
	text-align: center;
	font-size: 3em;
}

.menu-list {
	display: flex;
	flex-direction: row;
	gap: 1.25em;
	list-style-type: none;
}

.menu-list li {
	background-color: #235a13;
	width: 110px;
	padding: 0.5em 0;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}

.menu-list li:hover {
	background-color: #4ac026;
}
